In [1]:
import file
import scoring

Here's how the original and reshaped data look:

In [2]:
data = file.WideData('Measurement study/Participant level data/AlternateUses.xls')
data._original.sample(1)

,participant,book,rope,fork,table,pants,bottle,brick,tire,shovel,shoe
48,49,I use a book to raise my monitor so that it is...,To tie someone up with\nAs a dog chain\nAs a p...,To create designs on cookies or play doe\nTo f...,As a ladder to reach high places\nAs a barrier...,Cut up and use as wash rags\nCut up and use as...,Fill with sand and use like a sand bag\nuse as...,As a wall\nBuild A house\nMake a planter\nUse ...,Make a planter\nMake a swing\nMake a fence\nmu...,Use as a base to make a scarecrow\nUse as a we...,Fill with dirt and plant something\nMake a pup...

In [3]:
data.df.sample(2)

      participant prompt response_num  response
6217           54   tire            6  doorstop
2428           37  brick            2     build

## Scoring

Scoring is done with the AUT_Scorer class.

In [ ]:
scorer = scoring.AUT_Scorer()
scorer.load_model('EN_100_lsa', '/data/tasa/EN_100k.word2vec.bin')
scorer.load_model('TASA_lsa', '/data/tasa/TASA.word2vec.bin')

In [5]:
scorer.originality('shoe', 'wear', 'EN_100_lsa')

0.31790173053741455

In [6]:
scorer.originality('shoe', 'planter', 'EN_100_lsa')

0.6076052188873291

## Scoring at the Dataset Level

The WideData class takes a scorer and will add an internal column:

In [7]:
data.score(scorer, 'EN_100_lsa', stop=True, idf=True)
data.df.sample(3)

,participant,prompt,response_num,response,EN_100_lsa_stop_idf
2692,25,shoe,2,to throw a target,0.632237
518,59,bottle,0,paperweight,0.577313
2892,41,rope,3,to help you learn how to balance,0.744707

You can also have it automatically score all the models that the scorer has loaded.

In [8]:
data.score_all(scorer)

Scoring EN_100_lsa
Column EN_100_lsa_stop_idf already exists. Re-crunching and re-writing.
Scoring TASA_lsa

In [9]:
data.df.sample(2)

,participant,prompt,response_num,response,EN_100_lsa_stop_idf,TASA_lsa_stop_idf
2660,85,shovel,2,paint,0.578778,1.013257
5638,27,rope,6,use it to safely climb a,0.484754,0.861565

## Export back to CSV

In [13]:
temp = data.to_wide()
temp.sample(2)

            EN_100_lsa_stop_idf                                          \
prompt                     book    bottle     brick      fork     pants
participant
46                     0.673326  0.610398  0.566580  0.673624  0.463940
24                     0.661632  0.662115  0.644766  0.688135  0.529568

                                                               \
prompt           rope      shoe    shovel     table      tire
participant
46           0.426653  0.610470  0.550574  0.566176  0.590016
24           0.538657  0.566158  0.539689  0.592623  0.486584

            TASA_lsa_stop_idf                                          \
prompt                   book    bottle     brick      fork     pants
participant
46                   0.935649  0.941357  0.853700  0.872578  0.855365
24                   0.969414  0.967103  0.914566  0.963016  0.864231


prompt           rope      shoe    shovel     table      tire
participant
46           0.825246  0.954721  0.887277  0.828142  0.924558
24           0.840053  0.957946  0.933621  0.991763  0.865372

You can save this with `data.to_wide().to_csv('/path/to/file')`

## Fluency Data

In [17]:
f = data.fluency()
f.sample(3)

     participant prompt  count
410           42  table      2
564           58  brick      4
598           61   shoe      5

In [19]:
f = data.fluency(wide=True)
f.sample(2)

prompt       book  bottle  brick  fork  pants  rope  shoe  shovel  table  tire
participant
81             17      13     10    12     11    17    10       4      8     9
24             11      12     10     9      7    12     4       5     13     8