In [1]:
import file
import scoring

In [2]:
import pandas as pd

Here's how the original and reshaped data look:

In [3]:
data = file.WideData('Measurement study/Participant level data/AlternateUses.xls')
data._original.sample(1)

,participant,book,rope,fork,table,pants,bottle,brick,tire,shovel,shoe
85,86.0,Door Stopper\nPaper weight\nWeapon\nStand\nHea...,Swing\nWeapon \nLasso\n,Utensil\nWeapon\n,Stand\nWeapon\nDoor stopper\nTo eat food on,Clothes\nBlinds\nComforters,Weapon\nPaper weight\nUrine holder\n,Door Stopper\nPaper Weight\nWeapon,Stand\nSwing\n,Weapon\ndigging utensil\npoop scoop\n,Door stopper\nSlipper\nThrowing device\nWeapon

In [4]:
data.df.sample(2)

      participant prompt response_num                           response
2526         43.0   tire            2                     hold down tarp
2272         65.0  pants            2  create art projects like a wreath

## Scoring

Scoring is done with the AUT_Scorer class.

In [5]:
scorer = scoring.AUT_Scorer()
scorer.load_model('EN_100_lsa', '/data/glove/glove.840B-300d.word2vec.bin')
scorer.load_model('TASA_lsa', '/data/tasa/TASA.word2vec.bin')

In [6]:
print("EN_100")
for response in ['wear', 'planter', 'hit']:
    print(response, scorer.originality('shoe', response, 'EN_100_lsa'))
    
print("TASA")
for response in ['wear', 'planter', 'hit']:
    print(response, scorer.originality('shoe', response, 'TASA_lsa'))

EN_100
wear 0.4520634412765503
planter 0.7680058628320694
hit 0.8015732020139694
TASA
wear 0.695365846157074
planter 0.8889747262001038
hit 0.9890701556578279

## Scoring at the Dataset Level

The WideData class takes a scorer and will add an internal column:

In [7]:
data.score(scorer, 'EN_100_lsa', stop=True, idf=True)
data.df.sample(3)

,participant,prompt,response_num,response,EN_100_lsa_stop_idf
612,61.0,brick,0,garden bed edging,0.629958
3941,78.0,fork,4,stab vegetables,0.714109
2085,62.0,fork,2,picking stuff up off the floor,0.765690

You can also have it automatically score all the models that the scorer has loaded.

In [8]:
data.score_all(scorer)

Scoring EN_100_lsa
Column EN_100_lsa_stop_idf already exists. Re-crunching and re-writing.
Scoring TASA_lsa

In [9]:
data.df

,participant,prompt,response_num,response,EN_100_lsa_stop_idf,TASA_lsa_stop_idf
0,1.0,book,0,read,0.344389,0.727653
920,1.0,book,1,paperweight,0.939968,0.998924
1840,1.0,book,2,weapon,0.876172,0.950826
2760,1.0,book,3,to balance out a table,0.782391,0.971571
3680,1.0,book,4,as a foot rest,0.786366,1.005364
460,1.0,bottle,0,planter,0.767967,1.003884
1380,1.0,bottle,1,rain catcher,0.813707,1.031110
2300,1.0,bottle,2,weapon,0.822796,1.032692
3220,1.0,bottle,3,target for shooting,0.870302,0.985451
4140,1.0,bottle,4,book end paperweight,0.751551,0.946625
552,1.0,brick,0,paperweight,0.786557,1.039756
1472,1.0,brick,1,yard art,0.624745,0.997580
2392,1.0,brick,2,weapon,0.853384,1.039244
3312,1.0,brick,3,book end,0.813601,1.062845
4232,1.0,brick,4,foot rest,0.701580,1.008640
184,1.0,fork,0,yard art,0.878103,0.985295
1104,1.0,fork,1,back scrathcer,NaN,NaN
2024,1.0,fork,2,comb,0.732309,0.954943
2944,1.0,fork,3,weapon,0.807117,1.037111
368,1.0,pants,0,a jacket,0.252988,0.502801
1288,1.0,pants,1,make a back pack,0.662269,0.785826
2208,1.0,pants,2,wash rags,0.598208,0.875163
3128,1.0,pants,3,as a flag,0.731017,0.902962
4048,1.0,pants,4,start a fire with,0.772427,0.980114
92,1.0,rope,0,neck tie,0.554168,0.731617
1012,1.0,rope,1,lasso,0.555355,0.934419
1932,1.0,rope,2,decoration,0.706816,1.007629
2852,1.0,rope,3,back scratcher,0.810896,0.984761
3772,1.0,rope,4,whip,0.496579,0.845297
4692,1.0,rope,5,necklace,0.603632,0.994101
...,...,...,...,...,...,...
5795,92.0,fork,6,heat and use as a branding iron,0.814815,1.009644
459,92.0,pants,0,to start a fire,0.772427,0.980114
1379,92.0,pants,1,use as an emergency rope,0.778013,0.960308
2299,92.0,pants,2,hide something in the pockets,0.548250,0.829207
3219,92.0,pants,3,fill with air as a flotation device,0.847229,1.037961
4139,92.0,pants,4,as a parachute,0.711323,0.985948
5059,92.0,pants,5,to rest,0.713078,0.917655
183,92.0,rope,0,use as a leash to walk a dog,0.566407,0.937175
1103,92.0,rope,1,restrain someone,0.720202,1.000747
2023,92.0,rope,2,use to climb down from a window,0.664475,0.877206
2943,92.0,rope,3,use as a whip,0.577789,0.896460
3863,92.0,rope,4,make a lassouse to m,0.778265,1.014916
919,92.0,shoe,0,as a a hammer,0.724546,1.004590
1839,92.0,shoe,1,use as a flowerpot,0.856394,0.958187
2759,92.0,shoe,2,to use as a cup,0.787542,0.942305
3679,92.0,shoe,3,as a paperweight,0.902467,1.001192
827,92.0,shovel,0,use as a weapon,0.741863,0.975094
1747,92.0,shovel,1,to use as a hammer,0.585495,0.868177
2667,92.0,shovel,2,put in ground and make a scarecrow,0.697935,1.032526
3587,92.0,shovel,3,as a catapult,0.697554,1.011251
367,92.0,table,0,flip and use as barricade for door,0.740627,1.048920
1287,92.0,table,1,hide under during emergency,0.791289,1.008666
2207,92.0,table,2,as a card table,0.429127,0.617899
3127,92.0,table,3,use to start a fire,0.719038,1.007121
735,92.0,tire,0,use as a bed for a dog,0.767997,0.982542
1655,92.0,tire,1,use as a garden bed for a plant,0.776436,0.997229
2575,92.0,tire,2,run with it for exercise,0.766339,0.775762
3495,92.0,tire,3,make a fire in the middle,0.761551,1.053179
4415,92.0,tire,4,pore concrete in middle to hold a basketball goal,0.824950,1.017493
5335,92.0,tire,5,to sit in,0.742911,0.890662

## Export back to CSV

In [12]:
temp = data.to_wide()
temp.head(2)

            EN_100_lsa_stop_idf                                          \
prompt                     book    bottle     brick      fork     pants
participant
1.0                    0.745857  0.805265  0.755974  0.805843  0.603382
2.0                    0.685645  0.741775  0.659536  0.806637  0.603331

                                                               \
prompt           rope      shoe    shovel     table      tire
participant
1.0          0.602738  0.806814  0.743534  0.649084  0.721637
2.0          0.648324  0.709257  0.672089  0.681022  0.682143

            TASA_lsa_stop_idf                                          \
prompt                   book    bottle     brick      fork     pants
participant
1.0                  0.930867  0.999952  1.029613  0.992450  0.809373
2.0                  0.945535  0.927185  0.875027  0.996902  0.791361


prompt           rope      shoe    shovel     table      tire
participant
1.0          0.915340  1.010622  0.988530  0.914342  0.923325
2.0          0.876969  0.926443  0.861939  0.967638  0.861613

You can save this with `data.to_wide().to_csv('/path/to/file')`

You can also aggregate multiple items to a response differently. The default is 'mean', but 'max', 'min', and custom functions can be passed. e.g.

In [13]:
temp = data.to_wide(aggfunc='max')
temp.head(2)

            EN_100_lsa_stop_idf                                          \
prompt                     book    bottle     brick      fork     pants
participant
1.0                    0.939968  0.870302  0.853384  0.878103  0.772427
2.0                    0.839752  0.862154  0.921722  0.916474  0.757681

                                                               \
prompt           rope      shoe    shovel     table      tire
participant
1.0          0.810896  0.902467  0.796727  0.820382  0.773925
2.0          0.796459  0.892439  0.845521  0.811484  0.842676

            TASA_lsa_stop_idf                                          \
prompt                   book    bottle     brick      fork     pants
participant
1.0                  1.005364  1.032692  1.062845  1.037111  0.980114
2.0                  1.022673  1.037401  1.029825  1.088801  0.920790


prompt           rope      shoe    shovel     table      tire
participant
1.0          1.007629  1.089868  1.011251  1.061688  1.030699
2.0          1.071286  1.015326  1.062023  1.066731  1.025842

## Fluency Data

In [15]:
f = data.fluency()
f.sample(3)

     participant  prompt  count
637         65.0    rope      6
67           7.0  shovel      1
319         33.0    shoe      4

In [16]:
f = data.fluency(wide=True)
f.sample(2)

prompt       book  bottle  brick  fork  pants  rope  shoe  shovel  table  tire
participant
83.0            6       3      2     3      2     0     1       0      4     3
37.0           14       7      7     8      8    13     7       6      5     7

## Elaboration Data

By default, this splits on whitespace and counts.

In [14]:
f = data.elaboration()
f.sample(3)

      participant prompt  elaboration
7784         57.0  pants            5
3668         81.0   shoe            6
7400         41.0   book            2

In [15]:
f = data.elaboration(wide=True)
f.sample(2)

            elaboration                                                 \
prompt             book    bottle     brick   fork     pants      rope
participant
44.0           3.428571  3.333333  3.000000  5.800  6.166667  2.571429
6.0            1.200000  2.250000  2.333333  1.375  1.500000  1.600000


prompt           shoe shovel table tire
participant
44.0         1.666667   2.25   4.2  1.9
6.0          1.333333   2.40   2.4  1.0