# Reshape Participant-Level Data

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import file

In [21]:
data = file.WideData('Measurement study/Participant level data/AlternateUses.xls')
# Original format
data._original.sample(2)

,participant,prompt,response_num,original_response,response
7047,56,brick,7,build ornamental structures,build ornamental structures
1220,25,table,1,To coin something,to coin something
2518,35,tire,2,moving car,moving car
1264,69,table,1,as a weapon (throw at somebody),as a weapon (throw at somebody)

In [ ]:
# Save long format
data.df.to_csv('Measurement study/Participant level data/AlternateUses-cleaned.csv', index=False)
data.df.sample(4)

## Get Fluency Data

In [29]:
data.fluency(wide=True).sample(3)

prompt       book  bottle  brick  fork  pants  rope  shoe  shovel  table  tire
participant
78            9.0     7.0   10.0   7.0   10.0  11.0   8.0     6.0   10.0   8.0
38            9.0     8.0    7.0   8.0    6.0   6.0   7.0     7.0    7.0   6.0
57           14.0     5.0    6.0  10.0    9.0  11.0   3.0     3.0    9.0   5.0