# Reshape Participant-Level Data

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import file

In [3]:
data = file.WideData('Measurement study/Participant level data/AlternateUses.xls')
# Original format
data._original.sample(2)

,participant,book,rope,fork,table,pants,bottle,brick,tire,shovel,shoe
87,88.0,seat booster\ndoor stop\nweapon\nfire starter\...,outline\nhammock\ndecoration\n\n,NaN,float if wooden\nstool\nstage\n,flotation device\nvegi bag\nlong headband\nrope\n,miniature boat holder\nsand holder\nliquid hol...,paper weight\nwindow breaker\nweapon\ndoor stop\n,swing\nplaypen\ngarden frame for veggie's\n,wall decoration\ngiant punch bowl mixer\nweapon\n,cat equalizer\nplanter for small flower\n
77,78.0,doorstop\nleaf/flower press\nfirestarter\nweap...,jump rope\nhanging plants\ncoil into sculpture...,bend into a sculpture\nsmall splint\ndig dirt\...,eat at\nuse for drawing/painting\nturn upside ...,fabric for tablecloth\ntie closed to make bags...,vase\nbreak into pieces to use as a mosaic\nho...,weapon\npaperweight\nhold up a table\ndoorstop...,make a swing\nbounce on it\nroll it down hills...,dig things\nweapon to hit someone\npaint for a...,throw at someone\nhit someone\npaint for decor...

In [4]:
# Save long format
data.df.to_csv('Measurement study/Participant level data/AlternateUses-cleaned.csv', index=False)
data.df.sample(4)

       participant prompt response_num      response
2515          32.0   tire            2  plant holder
2896          45.0   rope            3      jumprope
4884           9.0  table            5   for ironing
22134         55.0   book           24   paper weigh

## Get Fluency Data

In [29]:
data.fluency(wide=True).sample(3)

prompt       book  bottle  brick  fork  pants  rope  shoe  shovel  table  tire
participant
78            9.0     7.0   10.0   7.0   10.0  11.0   8.0     6.0   10.0   8.0
38            9.0     8.0    7.0   8.0    6.0   6.0   7.0     7.0    7.0   6.0
57           14.0     5.0    6.0  10.0    9.0  11.0   3.0     3.0    9.0   5.0

## Parse Ground Truth for violent and sexual responses

In [2]:
import pandas as pd
import glob

In [24]:
files = glob.glob('Measurement study/Response level Data/*/AUT_Coding*')
files = [file for file in files if 'Boulder' not in file]
df = pd.concat([pd.read_excel(file).dropna(how='all') for file in files])
combined = df.groupby(['Prompt', 'Response'], as_index=False).mean().sort_values('Violent', ascending=False)
combined.columns = combined.columns.str.lower()
combined[['prompt', 'response', 'violent', 'sexual']].to_csv('data/violent_ground_truth.txt')

(17082, 10)

In [7]:
combined.to_csv('../data/paca-creativity.csv.gz', compression='gzip')

,prompt,response,originality,violent,violent_category,sexual,sexual_category,colorado similarity scores
1109,Brick,keep behind door for protection,2.000000,1.0,4.0,0.0,0.0,0.21
442,Book,torture device,2.666667,1.0,3.5,0.0,0.0,0.09
3828,shoe,throw it at people,1.666667,1.0,2.0,0.0,0.0,0.23
3829,shoe,throw it at somebody,1.666667,1.0,2.0,0.0,0.0,0.32
476,Book,weapon,3.000000,1.0,5.0,0.0,0.0,0.07